<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= page_title %>
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">

        <div class="row text-center">
            <div class="col-md-12">
                <h1><%= greeting %></h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <h5>
              <%= brief_bio %>
          </h5>
            </div>
            <div class="col-md-6">
                <img src="/img/<%= image_name %>" />
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 text-center">
                <% labels.forEach(function(label) { %>
                    <div class="label_format">
                        <%= label %>
                    </div>
                    <% }) %>

            </div>
            <div class="col-md-6">
                <h2><%= heading_one %></h2>
                <ul>
                    <% children.forEach(function(name) { %>
                        <li>
                            <%= name %>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>




    </div>
</body>

</html>
